.herosection_container{
    position: relative;
    width: 100%;
    height:100vh;
    display: flex;
    justify-content:end;
    align-items:end;
    box-sizing: border-box;
    overflow: hidden;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
}


.Hero_bg_video{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height:100%;
    z-index: -1;
    object-fit: cover;
}

.herosection_container .bluebg_container{
    position: absolute;
    width: 100%;
    height: 100%;
    padding-left: 2rem;
    padding-right: 2em;
    box-sizing: border-box;
    display: flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    top: 0;
    left: 0;
    color: white;
    background: linear-gradient(90deg, rgba(0, 36, 217, 0.101) 0%, rgba(135, 155, 255, 0.089) 100%);
}


.herosection_container .herosection_info_container{
    width:90%;
    height: 100%;
    height: fit-content;
    z-index: 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 3rem;
    box-sizing: border-box;
}




.herosection_info_container .button_container button{
    padding: 0.5em 1rem;
    box-sizing: border-box;
    background: linear-gradient(308deg, rgba(145,0,255,1) 18%, rgba(128,174,255,1) 100%);
    font-size: 1rem;
    font-weight: 900;
    margin-top: 1rem;
    border-radius:8px;
    border: none;
    box-shadow:black 0 5px 5px ;
    cursor: pointer;

    &:hover{
        background: linear-gradient(308deg,rgba(128,174,255,1) 18%,  rgba(145,0,255,1) 100%);
     }
}

.herosection_info_container .home_finunity_logo{
    width: 250px;
}

.bluebg_container .herosection_info_container h1{
    font-size: 3.5rem;   
    font-weight:900;
    background: rgb(145,0,255);
    background: linear-gradient(0deg, rgb(160, 36, 255) 18%, rgb(164, 255, 249) 100%);    background-size: contain;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.bluebg_container .herosection_info_container p{
    font-size: 1.3rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.herosection_container .herosection_poster{
    width:460px;
    height: auto;
    justify-self: end;
    /* mix-blend-mode:multiply; */
    z-index: 3;
}

.herosection_container .herosection_star{
    position: absolute;
    width: 15rem;
    height: auto;
    bottom: 70%;
    left: 85%;
    rotate: 10deg;
    opacity: 0.7;
}



@media (max-width:1060px) {
    .bluebg_container .herosection_info_container h1{
        margin-bottom: 1rem;
        font-size: 3rem;
        font-weight: 900;
    
    }
}


@media (max-width:905px) {
    .herosection_info_container .home_finunity_logo{
        width: 200px;
    }
    .herosection_container .herosection_info_container{
        width: 100%;
    }

    .bluebg_container .herosection_info_container h1{
        font-weight: 900; 
        font-size: 2.5rem;
    }
    .bluebg_container .herosection_info_container p{
        font-size: 1rem;
        font-weight: 400;
    }
}



@media (max-width:700px) {

    .herosection_container{
        justify-content:center;
        padding-left: 1rem;
        padding-right: 1em;
        height:440px;
    }

    .bluebg_container .herosection_info_container h1{
        font-size: 2rem;
        margin:0 auto;
    }

    .herosection_container .bluebg_container{
        padding-left: 1rem;
        padding-right: 1em;
        padding-top: 2rem;
        justify-content:center;
        align-items:start;
    }

    .herosection_container .herosection_info_container{
        width:100%;
        height: fit-content;
        text-align: center;
    }
    
    .bluebg_container .herosection_info_container p{
        font-size:0.8rem;
        font-weight: 400;
    }

    .herosection_info_container .button_container button{
        padding: 0.5em 0.7rem;
        font-size: 0.9rem;
        font-weight: 700;
        margin-top: 0.5rem;

    }

}


@media (max-width:550px) {
    .herosection_info_container .home_finunity_logo{
        width: 150px;
    }
    .bluebg_container .herosection_info_container h1{
        font-size:1.2rem;
        font-weight: 900;
        width:fit-content;
    }
    
    .herosection_container .herosection_info_container{
        font-size: 0.9rem;
        line-height: 1.1;
        height: fit-content;
        text-align: center;
    }

    .Hero_bg_video{
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height:100%;
        z-index: -1;
        object-fit: cover;
        opacity: 0.5;
    }
}


@media (max-width:340px) {
    .herosection_info_container .home_finunity_logo{
        width: 120px;
    }
    .bluebg_container .herosection_info_container h1{
        font-size:1rem;
        font-weight: 900;
        width:fit-content;
    }
}