.herosection_container{
    position: relative;
    width: 100%;
    height:fit-content;
    display: flex;
    justify-content:end;
    align-items:end;
    padding-left: 2rem;
    padding-right: 2em;
    box-sizing: border-box;
    overflow: hidden;
}


.Hero_bg_video{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height:100%;
    z-index: -1;
    object-fit: cover;
}

.herosection_container .bluebg_container{
    position: absolute;
    width: 100%;
    height: 100%;
    padding-left: 2rem;
    padding-right: 2em;
    box-sizing: border-box;
    display: flex;
    justify-content:start;
    align-items:center;
    overflow:hidden;
    top: 0;
    left: 0;
    color: white;
    background: linear-gradient(90deg, rgba(0,35,217,1) 0%, rgba(135, 155, 255, 0.205) 100%);

}


.herosection_container .herosection_info_container{
    width: 600px;
    height: fit-content;
    z-index: 2;
}

/* .herosection_info_container .button_container{
    width: fit-content;
    justify-self: start;
} */


.herosection_info_container .button_container button{
    padding: 0.5em 1rem;
    box-sizing: border-box;
    background-color: rgb(123, 0, 255);
    font-size: 1rem;
    font-weight: 700;
    margin-top: 1rem;
    border-radius:8px;
    border: 1px solid rgb(184, 184, 184);
    cursor: pointer;

    &:hover{
        background-color: rgb(78, 0, 162);   
     }
}


.bluebg_container .herosection_info_container h1{
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 900;
    width: fit-content;
    overflow: hidden; 
    border-right: .15em solid orange; 
    white-space:nowrap; 
}

.typing{
    animation: typing 3.5s steps(30, end), blink-caret .75s step-end infinite alternate;  
}

@keyframes typing {
    from { width:0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }

  }

.herosection_container .herosection_poster{
    width:460px;
    height: auto;
    justify-self: end;
    mix-blend-mode:multiply;
    z-index: 3;
}

.herosection_container .herosection_star{
    position: absolute;
    width: 15rem;
    height: auto;
    bottom: 70%;
    left: 85%;
    rotate: 10deg;
    opacity: 0.7;
}



@media (max-width:1060px) {
    .bluebg_container .herosection_info_container h1{
        margin-bottom: 1rem;
        font-size: 2.5rem;
        font-weight: 900;
    
    }
}


@media (max-width:800px) {
    
    .bluebg_container .herosection_info_container h1{
        margin-bottom: 1rem;
        font-size: 1.5rem;
        font-weight: 900;
        
    }
    .herosection_container .herosection_star{
        position: absolute;
        width: 15rem;
        height: auto;
        bottom: 70%;
        left: 80%;
        rotate: 10deg;
    
    }
}



@media (max-width:580px) {

    .herosection_container{
        justify-content:center;
        padding-left: 1rem;
        padding-right: 1em;
    }

    .bluebg_container .herosection_info_container h1{
        margin:0 auto;
    }

    .herosection_container .bluebg_container{
        padding-left: 1rem;
        padding-right: 1em;
        padding-top: 2rem;
        justify-content:center;
        align-items:start;
    }

    .herosection_container .herosection_info_container{
        width:100%;
        height: fit-content;
        text-align: center;
    }
    
    .bluebg_container .herosection_info_container p{
        font-size:0.8rem;
        font-weight: 400;
    }

    .herosection_info_container .button_container button{
        padding: 0.5em 0.7rem;
        font-size: 0.9rem;
        font-weight: 700;
        margin-top: 0.5rem;

    }

    .herosection_container .herosection_star{
        position: absolute;
        width: 15rem;
        height: auto;
        bottom: 50%;
        left: 70%;
        rotate: 10deg;
    
    }
    .herosection_container .herosection_poster{
        width:200px;
        height: auto;
        justify-self: end;
    }
}


@media (max-width:400px) {
    .bluebg_container .herosection_info_container h1{
        margin-bottom: 1rem;
        font-size:1.2rem;
        font-weight: 900;
        width:fit-content;
    }
}