.nav_container{
    position:relative;
    top: 0;
    left: 0;
    padding:1rem 2rem;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient( 111.4deg, rgb(5, 4, 26)  6.5%,  rgb(26, 26, 57) 93.2% );
    color: white;
}

.nav_container .finunity_logo{
    width:70px;
}
.nav_container a{
    &:active{
        color: rgb(0, 38, 255);
    }
    text-decoration: none;
    color: white;
}

.site_name_nav{
    font-family: "Yatra One", system-ui;
    font-weight: 400;
    margin: 0;
}

.nav_navigation_container{
    display: flex;
    gap: 2rem;
}

.nav_navigation_container hr{
    display: none;
    width: 100%;
    border: none; 
    height: 0.05rem; 
    background: radial-gradient(circle, rgb(124, 224, 255) 18%, rgb(9, 27, 66) 100%);
}

.nav_navigation {
    cursor: pointer; 
    &:hover {
        text-decoration: underline;
    }
}

.nav_container img{
    width:8rem;
    height: auto;
}

.Nav_Button_container{
display: flex;
gap: 1rem;
}

.nav_container .signIn_button button , .signUp_button button{
    background: linear-gradient(308deg, rgba(145,0,255,1) 18%, rgba(128,174,255,1) 100%);
    color: white;
    font-weight: 700;
    font-size: 1rem;
    border: none;
    width: fit-content;
    height: fit-content;
    padding: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius:0.3rem;
    text-align: center;
    box-sizing: border-box;
    display: block;
    &:hover{
        cursor: pointer;
        transition: all ;
        transition-duration: 0.2s;
        transform: scale(1.05);
        background: linear-gradient(308deg,rgba(128,174,255,1) 18%,  rgba(145,0,255,1) 100%);
    }
}

.nav_container .toggle_nav_button{
display: none;
}


/* tab responsive  */

@media (max-width:980px) {
    .nav_navigation_container{
        gap: 1rem;
        font-size: 0.8rem;
    }

    .nav_container .signIn_button{
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        font-size: 0.8rem;
    }
}

@media (max-width:800px) {
    .nav_navigation_container{
        gap: 1rem;
        font-size: 0.6rem;
    }
}





/* mobile responsive  */

@media (max-width:690px) {
    .nav_container{
        padding:0.5rem 2rem;
    }
    .nav_navigation {
        width: 100%;
        text-align: center;
       
    }
    .Nav_Button_container{
        display: flex;
        gap: 0.5rem;
        }

    .nav_navigation_container hr{
        display:block;
    }

    .nav_container .toggle_nav_button{
        display: block;  
    }

    /* .nav_container .signIn_button{
        display: none;
    } */

    .navIsHidden{
        display: none;
        left:100%;
    }
    .nav_navigation_container{
        position: absolute;
        top:100%;
        right:0%;
        height: fit-content;
        width:90%;
        font-size: 0.8rem;
        padding-left: 0.5rem;
        padding-right:2rem;
        padding-top: 0.5rem;
        padding-bottom:0.5rem;
        box-sizing: border-box;
        flex-direction: column;
        align-items:start;
        gap: 0.3rem;
        background-color: rgba(0, 0, 0, 0.954);
        border: solid 2px rgba(52, 123, 255, 0.612);
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        z-index: 99;
    }  

}

@media (max-width:516px) {
    .nav_container{
        padding:0.3rem 2rem;
    }

    .nav_container img{
        width:4rem;
        height: auto;
    }

    .nav_container .signIn_button{
        padding-left: 0.3rem;
        padding-right: 0.3rem;
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
        font-size: 0.6rem;
    }
}


@media (max-width:350px) {
    .nav_container img{
        width:3rem;
    }
    .nav_container .signIn_button{
        font-size: 0.4rem;
        font-weight: 600;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
    }
}
